<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/splash.css') }}">
    <title>Welcome to Kolo</title>
</head>
<body>
    <div class="splash-container">
        <img src="{{ url_for('static', filename='../static/assets/images/logo.png') }}" alt="Kolo Logo">
    </div>
    <script>
        const BASE_URL = "{{ url_for('login') }}";
    </script>
    <script src="{{ url_for('static', filename='../static/js/splash.js') }}"></script>
</body>
</html>